/*PATICKA*/

footer {
    min-height:300px;
    color: white;
    background: #373a48 none repeat scroll 0 0;
}

footer h2 {
    text-align: center;
    padding-top:3%;
    border-bottom: 2px solid grey;
}

footer ul{
    margin-left: 30%;
    margin-top: 25px;
}

footer .col {
    padding-right: 0;
    padding-left:0;
}

footer .container-fluid {
    padding-top: 25px;
}

footer section:nth-of-type(1) { /* kvoli borderu v peticke*/
    padding-left: 30px;
}

footer section:last-of-type { /* kvoli borderu v peticke*/
    padding-right: 30px;
}
footer section:last-of-type div{
    text-align: center;
    padding: 12px 0px 0px 8px;
    line-height: 2;
}
footer section:last-of-type div span.saumy {
    font-size: 30px;
}

footer img {
    width: 35px;
}
footer .address {
    color: white;
}

footer a {
    color: white;
}

footer li{
    position:relative;
}

footer .chevron-left {
    font-size: 16px;
    position: absolute;
    left: -20px;
    top: 4px;
}

@media (max-width: 767.98px) {
    footer ul {
        font-size: 19px;
    }
    footer div.row {
        padding-bottom: 50px;
    }
}

@media (max-width: 575.98px) {
    footer ul{
        font-size: 21px;
    }

    footer h2 {
        font-size: 23px;
    }
}