/* styly pre obrazky kategorii*/


@media (max-width: 767.98px) {
    .order-2-md-saumy {
        order: 2;
    }
    .order-1-md-saumy {
        order: 1;
    }
}

.flex-end {
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

section.category-images {
    margin-top: 25px;
    font-size: 29px;
    color: #eb967d;
    letter-spacing: 0.1em;

}

section.category-images p{
    color:grey;
    font-size: 20px;
}

@media (max-width: 1199.98px) {
    section.category-images {
        font-size: 23px;
    }
    section.category-images p{
        font-size: 15px;
    }
}

@media (max-width: 991.98px) {
    section.category-images {
        font-size: 19px;
    }
    section.category-images p{
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .filter {
        display:none;
    }
}

.category-images img {
    width:100%;
}


/*styly pre hlavny popis*/

.main-caption {
    padding-top: 18px;
    text-align: center;
}

.main-caption > span {
    font-weight: 600;
}



/*styly pre 2 hlavne produkty*/
section.main-products {

    background: #fafafa;
    padding: 5%;

}

section.main-products div p{
    margin: 0;
    padding: 6%;
}

section.main-products div:nth-of-type(2) > div:nth-of-type(1) {
    overflow: hidden;
    height: 400px;
}

section.main-products img.logo {
    position:absolute;
}

section.main-products div img {
    padding: 6%;
    width:100%;
}

section.main-products div {
    margin-right: -5%;
    text-align: center;
}

@media (max-width: 1199.98px) {
    section.main-products div:nth-of-type(2) > div:nth-of-type(1) {
        height: 320px;
    }
}

@media (max-width: 991.98px) {
    section.main-products div:nth-of-type(2) > div:nth-of-type(1) {
        height: 235px;
    }
}

@media (max-width: 767.98px) {
    section.main-products div:nth-of-type(2) > div:nth-of-type(1) {
        height: 155px;
    }
}


@media (max-width: 575.98px) {
    section.main-products div:nth-of-type(2) > div:nth-of-type(1) {
        height: 340px;
    }
}


/* CAROUSEL */

#carouselExampleIndicators {
    max-height: 800px;
    height: 600px;
}

.carousel-inner {
    height: 100%;
    max-height: 800px;
}

.carousel-inner .carousel-item {
    height: 100%;
}

.carousel-shop-now {
    color: white;
    background-color: #eb967d;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 64px);
    width: 128px;
    height: 41px;
}

@media (max-width: 1199.98px) {
    #carouselExampleIndicators {
        height: 500px;
    }
}

@media (max-width: 991.98px) {
    #carouselExampleIndicators {
        height: 400px;
    }
}

@media (max-width: 767.98px) {
    #carouselExampleIndicators {
        height: 300px;
    }
}

@media (max-width: 575.98px) {
    #carouselExampleIndicators {
        height: 250px;
    }
}

/* BODY */

body main{
    background: #fdf3ef none repeat scroll 0 0;   /*ruzova*/
}

body header.up, body nav.up, body main{
    /*font-family: "AvantGardeGothicITCW01Bk",sans-serif;*/
    letter-spacing: 3.2px;
}

body main {
    letter-spacing: 2px;
}

/* HORIZONTALNA CIARA*/

.box-title {
    border-top: 1px dotted #000;
    text-align: center;
}

.box-title legend {
    border: 0 none;
    color: #616574;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0 20px;
    width: auto;
}

div.widget-title {
    padding: 25px 60px;

}

.filter-mobile .widget-title {
    padding: 0;
    padding-bottom: 29px;
}

@media (max-width: 575.98px) {
    .filter-mobile .widget-title fieldset {
        border: 0;
    }
}{
}


/* navigovanie v kosiku*/


/* tlacidla na dalsie navigovanie*/

.next-step {
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.next-step .back{
    color: grey;
}

.next-step .next{
    color: white;
    background-color: grey;
    /*#F5C0AB;*/
}

.next-step > div {
    margin-bottom: 45px;
}

@media (max-width: 767.98px) {
    .next-step .next {
        width: 100%;
    }
}

/*odporúčané položky*/

section.recommended-products {
    padding-top: 40px;
    padding-bottom: 40px;
}
.recommended-products img {
    width: 80%;
    margin-left: 10%;
}

/*slick*/

.recommended-products .slick-prev:before, .recommended-products .slick-next:before {
    color: black;
}

.recommended-products.container {
    padding-left: 40px;
    padding-right: 40px;
}



/* modal prihlasenie */

.modal{
    overflow-y: auto;
}

.bd-login-modal .close-right-top, .bd-registration-modal .close-right-top {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 45px;
    background: white;
    position: absolute;
    right: 0;
}

.bd-registration-modal .modal-dialog {
    margin-top: 60px;
}

.bd-login-modal .close-right-top i.close, .bd-registration-modal .close-right-top i.close{
    font-weight: bold;
}

.bd-login-modal .modal-body, .bd-registration-modal .modal-body {
    margin-left: 45px;
    margin-right: 45px;
}

.login .form-control, .registration .form-control {
    border: 0px solid grey;
    border-bottom: 1px solid grey;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login .form-control:focus, .registration .form-control:focus {
    border-bottom: 2px solid grey;
}


.login-reg-form button[type=submit] {
    background-color: #695d53;
    color: white;
}

.btn-login:hover, .btn-registration:hover {
    opacity: 0.7;
}


.login-registration-label {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.registration .modal-body section {
    margin-bottom: 25px;
}

.registration .modal-body div {
    margin-bottom: 10px;
}

/*input:focus::placeholder, .input-text:focus{*/
    /*transform: translate(90%,0px);*/
    /*transition-duration: 2s;*/
/*}*/

input:focus::placeholder {
    visibility: hidden;
}

input:focus + .input-text {
    visibility: visible;
    transform: translate(60%,0px);
    /*transition-delay: 3s;*/
    transition-duration: 2s;
}

.input-text {
    width:100%;
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    top: 13px;
    left: 28px;
}
/*input::placeholder{*/
    /*display:block !important;*/
    /*visibility: visible !important;*/
/*}*/



/*ONLINE CHAT*/

.online-chat .chat-content {
    background: #373a48;
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.5s;
    width: 0;
    height: 0;
}

main.main-chat {
    background: #DFE2DB;
    border: 1px solid grey;
}

.online-chat .chat-content header{
    border-bottom: 1px solid grey;
    color: white;
    cursor: pointer;
}

.online-chat .chat-content header span{
    padding-left: 20px;
}

.online-chat .chat-content main{
    text-align:center;
}

.online-chat .chat-content .chat-title{
    padding-top: 15px;
    text-align:center;
}

.online-chat .chat-content main .chat-descr{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.online-chat .chat-content.chat-show {
    height: 353px;
    width: 365px;
}

.online-chat .chat-content .form-content {
     padding-left: 15px;
     padding-right: 15px;
}

.online-chat .chat-content .form-content > div{
    text-align: left;
    padding: 10px;
}

.online-chat .chat-content .form-content > div.send-first-message{
    text-align: center;
}

.circle-help-chat {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 5;
    font-size: 13px;
    font-weight: 600;
}

.online-chat {
    width:0;
    height: auto;
}

.online-chat p{
    margin: 0;
}

.btn-help-chat {
    display: none;
}


/*SPRAVY*/


/* vsetky spravy*/

.chat {
    width: 100%;
}

.chat-messages {
    padding-top: 10px;
    height: 280px;
    overflow: auto;
    text-align: left;
}

.send-message {
    height: 50px;
    border-top: 2px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.send-message .inner {
    margin: 10px;
}

.send-message .inner > input {
    border: 1px solid grey;
    border-radius: 15px;
    width: 100%;
    padding-left: 20px;
}

.send-message .inner span {
    padding-left: 17px;
}

/*samotna sprava*/

.customer-message {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}

.admin-message {
    margin-right: 15px;
    position: relative;
}

.message-content {
    color: white;
    width: 80%;
    min-height: 50px;
    background: grey;
    margin: 5px;
    margin-top: 25px;
    border: 1px solid grey;
    border-radius: 15px;
}

.message-content p {
    font-size: 11px;
    padding: 15px;
    margin: 0;
}

.admin-message .message-content {
    color: black;
    background: #f1f0f0;
}

.admin-message .message-author {
    position: absolute;
    top: -23px;
    padding-left: 11px;
    left: 0;
}
.customer-message .message-author {
    position: absolute;
    padding-right: 30px;
}

.admin-message .message-time {
    position: absolute;
    left: 38%;
    top: -23px;
}

.customer-message .message-time {
    position: absolute;
    right: 50%;
}

.message-author, .message-time {
    font-size: 13px;
}

.admin-message {
    position: relative;
}

.admin-message .message-time {
    position: absolute;
    padding-top: 2px;
    padding-right: 30px;
}

.chatting {
    display: none;
}

/*icons*/

i.send {
    position: absolute;
    right: 29px;
    bottom: 11px;
}

i.remove-minimalize {
    position: fixed;
    right: 20px;
}